header .logo {
    position: absolute;
    top: 20px; /* Ajuste para centralizar verticalmente */
    left: 20px; /* Margem para o canto superior esquerdo */
    z-index: 1000;
}

header .logo img {
    width: 200px; /* Aumenta o tamanho do logotipo */
    height: auto;
}



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(0, 1%, 83%);
}

.left-image {
    width: 49.4vw; /* Metade da largura da tela */
    height: 100vh; /* Altura total da tela */
    position: relative;
    float: left; /* Garante imagens/women.jpgque a imagem fique alinhada ao lado esquerdo */
    background: url('../imagens/women.jpg');
    background-size: cover;
}

.btn-custom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.btn-custom:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.right-image {
    width: 49.4vw; /* Metade da largura da tela */
    height: 100vh; /* Altura total da tela */
    position: relative;
    float: right; /* Garante que a imagem fique alinhada ao lado esquerdo */
    background: url('../imagens/men.jpg');
    background-size: cover;
}


.btn-products {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.btn-products:hover {
    background-color: rgba(0, 0, 0, 0.9);
}
